@using ShikkhanobishMainWeb.Models
@using Flurl.Http
@using Microsoft.AspNetCore.Components;
@page "/{tID}"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MakeQuestion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/css/makeQues.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="background-color:white">

    <!-- Begin page -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->



    <div class="content">

        <!-- Start container-fluid -->
        <div class="container-fluid">
            <!--row-->
            <div class="form-group row " >
                
                <div class="col-md-6 ">
                    <h3 style="color:black">Teacher QuestionHistory</h3>
                </div>
                <div class="col-md-6" style="text-align:right">
                    <h3 style="color: #8F2EE3;">@tName</h3>
                </div>
            </div>
            <br />
            <br />

            <div class="form-group row justify-content-center">
                
                <div class=" " >
                    <div class="card-box widget-inline " style="background-color: #D2B4DE ;">
                        <div class="text-center p-2">
                            <h2 class="" style="color:white"> <b>@countTQH</b></h2>
                            <p class="" style="color:rebeccapurple">
                                Total Uploaded

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row -->

        </div>
        <br />
        <div class="col-12 " style="text-align:right">

            <a href="@($"MakeQuestion/{tID}")" class="btn btn-outline-info">
                <i class="fas fa-marker "></i>
                <span> Make Question </span>
            </a>
        </div>
        <br />
        
        <div class="row">

            <div class="col-md-12">
                <div class="card-header " style="text-align:center">
                    <h5>Question History</h5>
                </div>
                <br />
                <br />
                <br />

                <br />


                @for (int m = 0; m < tqhList.Count; m++)
                {
                    for (int n = 0; n < questionList.Count; n++)
                    {
                        for (int k = 0; k < allClassList.Count; k++)
                        {
                            for (int p = 0; p < allSubject.Count; p++)
                            {
                                for (int q = 0; q < allChapter.Count; q++)
                                {
                                    if (tqhList[m].questionID == questionList[n].questionID && questionList[n].classID == allClassList[k].classID && questionList[n].subjectID == allSubject[p].subjectID && questionList[n].chapterID == allChapter[q].chapterID)
                                    {
                                        <div class="form-group row">
                                            <div class="col-2">
                                                <label class="" style=" border-radius: 10px; border: 1px solid @questionList[n].reviewColor; padding: 3px 12px; color:@questionList[n].reviewColor;">@questionList[n].reviewName</label>
                                            </div>
                                            <div class="col-10" style="text-align:right">
                                                <label >@tqhList[m].review</label>
                                            </div>
                                            

                                        </div>
                                        <div class="form-group row">
                                            
                                            <div class="col-12" style="text-align:right" >
                                                <label class="" style="background-color: #7D3C98; color: white; border-radius: 10px; padding: 3px 12px; ">@allClassList[k].name</label>
                                                <label class="" style="background-color: #CD6155; color: white; border-radius: 10px; padding: 3px 12px; ">@allSubject[p].name</label>
                                                <label class="" style="background-color: #73C6B6; color: white; border-radius: 10px; padding: 3px 12px; ">@allChapter[q].name</label>

                                            </div>

                                        </div>


                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <h6 style="color:#7146FE"> Question</h6>
                                                <input type="text" readonly class="form-control" style="height: 150px; color: black; background-color:white; font-size: 18px " @bind="@questionList[n].mainQuestion">
                                            </div>
                                        </div>
                                        <br />

                                        <div class="form-group row">
                                            <div class="col-md-8">
                                                <div class="col-8">
                                                    <h6 style="color:#7146FE">Option1:</h6>
                                                    <input type="text" readonly class="form-control" style=" height: 100px; text-align: center; background-color:@questionList[n].op1BackColor; color: black; font-size: 14px " @bind="@questionList[n].option1">
                                                </div>

                                            </div>
                                            <div class="col-md-8">
                                                <div class="col-8">
                                                    <h6 style="color:#7146FE">Option2:</h6>
                                                    <input type="text" readonly class="form-control" style=" height: 100px; text-align: center; background-color:@questionList[n].op2BackColor; color: black; font-size: 14px " @bind="@questionList[n].option2">
                                                </div>

                                            </div>
                                            <div class="col-md-8">
                                                <div class="col-8">
                                                    <h6 style="color:#7146FE">Option3:</h6>
                                                    <input type="text" readonly class="form-control" style=" height: 100px; text-align: center; background-color:@questionList[n].op3BackColor; color: black; font-size: 14px " @bind="@questionList[n].option3">
                                                </div>

                                            </div>
                                            <div class="col-md-8">
                                                <div class="col-8">
                                                    <h6 style="color:#7146FE">Option4:</h6>
                                                    <input type="text" readonly class="form-control" style=" height: 100px; text-align: center; background-color:@questionList[n].op4BackColor; color: black; font-size: 14px " @bind="@questionList[n].option4">
                                                </div>

                                            </div>
                                        </div>

                                        <br />
                                        <hr />
                                        <hr />
                                        <br />
                                    }
                                }
                            }

                        }
                    }


                }
            </div>
        </div>
        <br />
        <br />
        <br />
        <!-- end container-fluid -->
        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        2021 &copy; shikkhanobish
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end content -->
    <!-- END wrapper -->
    <!-- Vendor js -->

</body>
</html>

@code{
    [Parameter]
    public string tID { get; set; }

    public string tName { get; set; }



    int countTQH;
    List<TeacherQuesHistory> tqhList = new List<TeacherQuesHistory>();
    List<Question> questionList = new List<Question>();

    List<Teacher> teacherList = new List<Teacher>();

    List<ClassInfo> allClassList = new List<ClassInfo>();
    List<Subject> allSubject = new List<Subject>();
    List<Chapter> allChapter = new List<Chapter>();

    string selectedColorone = "";
    string selectedColortwo = "";
    string selectedColorthree = "";
    string selectedColorfour = "";

    protected override async Task OnInitializedAsync()
    {
        await GetTeacherQuestionHistory();
        await GetHistoryCount();
        await GetClassSubChap();
        await GetTeacherWithID();
       

    }

    public async Task GetTeacherQuestionHistory()
    {
        var thl = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getTeacherQuestionHistory".GetJsonAsync<List<TeacherQuesHistory>>();

        for (int i= 0; i < thl.Count; i++)
        {
            if(thl[i].teacherID.ToString() == tID)
            {
                tqhList.Add(thl[i]);
            }
        }
        List<TeacherQuesHistory> SortedList = new List<TeacherQuesHistory>();
        SortedList = tqhList.OrderBy(x => x.review).ToList();
        SortedList.Reverse();
        tqhList.Clear();
        tqhList = SortedList;

        List<Question> ques = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getQuestion".GetJsonAsync<List<Question>>();
        for(int i = 0; i < ques.Count; i++)
        {
            if(ques[i].rightAnswer == 1)
            {
                ques[i].op1BackColor = "#B1FED3";
                ques[i].op2BackColor = "white";
                ques[i].op3BackColor = "white";
                ques[i].op4BackColor = "white";
            }
            if (ques[i].rightAnswer == 2)
            {
                ques[i].op1BackColor = "white";
                ques[i].op2BackColor = "#B1FED3";
                ques[i].op3BackColor = "white";
                ques[i].op4BackColor = "white";
            }
            if (ques[i].rightAnswer == 3)
            {
                ques[i].op1BackColor = "white";
                ques[i].op2BackColor = "white";
                ques[i].op3BackColor = "#B1FED3";
                ques[i].op4BackColor = "white";
            }
            if (ques[i].rightAnswer == 4)
            {
                ques[i].op1BackColor = "white";
                ques[i].op2BackColor = "white";
                ques[i].op3BackColor = "white";
                ques[i].op4BackColor = "#B1FED3";
            }
            if(ques[i].review == 0)
            {
                ques[i].reviewColor = "#DBD406 ";
                ques[i].reviewName = "Pending";
            }
            if (ques[i].review == 1)
            {
                ques[i].reviewColor = "#4EDB06 ";
                ques[i].reviewName = "Approved";
            }
            if (ques[i].review == 2)
            {
                ques[i].reviewColor = "Gray";
                ques[i].reviewName = "Not Approved";
            }
        }
        questionList = ques;
    }

    public async Task GetHistoryCount()
    {

        int count = 0;
        var list = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getTeacherQuestionHistory".GetJsonAsync<List<TeacherQuesHistory>>();
        for(int i = 0; i < list.Count; i++)
        {
            if (tID == list[i].teacherID.ToString())
            {
                count++;

            }
            countTQH = count;
        }
    }



    public async Task GetClassSubChap()
    {


        allClassList = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getClassInfo".GetJsonAsync<List<ClassInfo>>();
        allSubject = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getSubject".GetJsonAsync<List<Subject>>();
        allChapter = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getChapter".GetJsonAsync<List<Chapter>>();


    }



    public async Task GetTeacherWithID()
    {
        var list = await "https://api.shikkhanobish.com/api/ShikkhanobishTeacher/getAllTeacher".PostJsonAsync(new { }).ReceiveJson<List<Teacher>>();
        for (int i=0;i<list.Count;i++)
        {
            if (tID == list[i].teacherID.ToString())
            {
                tName = list[i].name;
            }
        }
    }

    



    //90843385




}

