@using ShikkhanobishMainWeb.Models
@using Flurl.Http
@using Microsoft.AspNetCore.Components;
@page "/{tID}"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MakeQuestion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/css/makeQues.css" />
</head>

<body style="background-color:white">

    <!-- Begin page -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->



    <div class="content">

        <!-- Start container-fluid -->
        <div class="container-fluid">
            <!--row-->
            <div class="form-group row " >
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <h3 style="color:darkmagenta">Teacher QuestionHistory</h3>
                </div>
                <div class="col-md-4" style="text-align:right">
                    <h2 style="color:crimson;font-family:Garamond; ">TeacherName</h2>
                </div>
            </div>
            <br />
            <br />

            <div class="form-group row">
                <div class="card-box widget-inline offset-5">
                    <div class="text-center p-3">
                        <h2 class="mt-2"> <b>@countTQH</b></h2>
                        <p class="text-muted mb-0">
                            Total Uploaded

                        </p>
                    </div>
                </div>
            </div>
            <!--end row -->

        </div>
        <br />
        <div class="col-12 " style="text-align:right">

            <a href="MakeQuestion" class="btn btn-outline-info">
                <i class="fas fa-marker "></i>
                <span> Make Question </span>
            </a>
        </div>
        <br />
        
        <div class="row">

            <div class="col-md-12">
                <div class="card-header">
                    <h5>TeacherQuestionHistory</h5>
                </div>
                <br />
                <br />
                <br />
                @for (int i = 0; i < tqhList.Count; i++)
                {
                    for (int j = 0; j < questionList.Count; j++)
                    {
                        if (tqhList[i].questionID == questionList[i].questionID)
                        {
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <h6 style="color:#7146FE"> Question</h6>
                                    <textarea class="form-control" style="height: 150px; width: 600px; background-color: #E9F7EF; color: black; font-size: 24px ">@questionList[i].mainQuestion</textarea>
                                </div>
                            </div>
                            <br />

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="col-4">
                                        <h6 style="color:#7146FE">Option1:</h6>
                                        <textarea class="form-control" style="width: 200px; height: 80px; text-align: center; background-color: #E9F7EF; color: black; font-size: 16px ">@questionList[i].option1</textarea>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="col-4">
                                        <h6 style="color:#7146FE">Option2:</h6>
                                        <textarea class="form-control" style="width: 200px; height: 80px; text-align: center; background-color: #E9F7EF; color: black; font-size: 16px ">@questionList[i].option2</textarea>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="col-4">
                                        <h6 style="color:#7146FE">Option3:</h6>
                                        <textarea class="form-control" style="width: 200px; height: 80px; text-align: center; background-color: #E9F7EF; color: black; font-size: 16px ">@questionList[i].option3</textarea>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="col-4">
                                        <h6 style="color:#7146FE">Option4:</h6>
                                        <textarea class="form-control" style="width: 200px; height: 80px; text-align: center; background-color: #E9F7EF; color: black; font-size: 16px ">@questionList[i].option4</textarea>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <hr />
                            <hr />
                            <br />

                        }
                    }
                }
            </div>
        </div>
        <br />
        <br />
        <br />
        <!-- end container-fluid -->
        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        2021 &copy; shikkhanobish
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end content -->
    <!-- END wrapper -->
    <!-- Vendor js -->

</body>
</html>

@code{
    [Parameter]
    public string tID { get; set; }

    int countTQH;
    List<TeacherQuesHistory> tqhList = new List<TeacherQuesHistory>();
    List<Question> questionList = new List<Question>();

    protected override async Task OnInitializedAsync()
    {
        await GetTeacherQuestionHistory();
        await GetStudentCount();
    }

    public async Task GetTeacherQuestionHistory()
    {
        var thl = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getTeacherQuestionHistory".GetJsonAsync<List<TeacherQuesHistory>>();

        for (int i= 0; i < thl.Count; i++)
        {
            if(thl[i].teacherID.ToString() == tID)
            {
                tqhList.Add(thl[i]);
            }
        }


        List<Question> ques = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getQuestion".GetJsonAsync<List<Question>>();
        questionList = ques;
    }

    public async Task GetStudentCount()
    {

        int count = 0;
        var list = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getTeacherQuestionHistory".GetJsonAsync<List<TeacherQuesHistory>>();
        for(int i = 0; i < list.Count; i++)
        {
            if (tID == list[i].teacherID.ToString())
            {
                count++;

            }
            countTQH = count;
        }
    }



}

